@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Montserrat&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&display=swap');

.elegant-apartmani {
    padding-top: 4.5rem;
    font-family: "Open Sans", sans-serif;
}

.elegant-apartmani h3 {
    text-align: center;
}

.apartmani-vrnjacka-banja {
    position: flex;
    overflow: hidden;
    animation:  introLoad 4s forwards;
}


.slike-apartmani {
    width: 28rem;
    height: 35rem;
}

.image-slider-apartmani {
  width: 30rem;
  height: 35rem;
}

.prodaja-apartmana {
    position: absolute;
    font-weight: bold;
    top: 28rem;
    width: 100%;
    text-align: center;
    margin: auto;
}

.prodaja-apartmana p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 1.2rem 1rem;
    background-color: hsl(210, 100%, 13%, 0.8);
    color: #ffff;
    opacity: 0;
    animation: moveDown 2s ease-in-out forwards;
}

.prodaja-apartmana img {
    position: absolute;
    height: 3rem;
    width: 1rem;
    top: 3rem;
    left: 1.2rem;
    animation: moveArrow 1s alternate-reverse infinite;
}

div.selected-container {
    width: 20rem;
    height: 2.6rem;
    position: relative;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #002142;
    border-radius: 0.5rem;
}



div.selected-container:hover {
    border: 1.4px solid hsl(210, 100%, 13%, 0.8);
    .icon i {
        color: hsl(210, 100%, 13%, 0.8);
    }

}

.icon {
    font-size: 1.4rem;
    position: absolute;
    right: 1rem;
}

#selected-items {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    appearance: none;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: #002142;
    border: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
}


.namesteni-apartmani {
    border: 4px solid hsla(0, 0%, 0%, 0.8);
    background-color: hsla(214, 24%, 87%, 0.8);
    padding: 10px;
    margin: 3.5rem 2rem;
    font-family: "Open Sans", sans-serif;
}


.namesteni-apartmani h3 {
    color: black;
    opacity: 0.8;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    padding-left: 1rem;
}

.kraljevski-apartman div { 
    max-width: 30rem;
    max-height: 20rem;
}

.kraljevski-apartman img {
    width: 100%;
    max-height: 15rem;
}

.opis {
    text-align: center;
}

.opis div {
   text-align: center;
   color: black;
    opacity: 0.8;
   font-size: 0.8rem;
}

.opis p {
    text-align: center;
}

.pregled {
    background-color: #c5b358;
    color: white;
    width: 5rem;
    padding:  0.5rem 1rem;
    font-weight: 500;
    margin: auto;
}

.vrnjacka-banja-apartmani {
    color: black;
    opacity: 0.8;
    text-align: center;
    margin: 4rem 1rem 0 1rem;
}

.elegant-apartmani-u-izgradnji {
    color: black;
    opacity: 0.8;
    text-align: center;
    margin: 1rem 1rem 0 1rem;
}
.apartmani-u-izgradnji {
    border: 3px solid hsla(0, 0%, 0%, 0.8);
    background-color: hsla(214, 24%, 87%, 0.8);
    padding: 10px;
    margin: 3.5rem 2rem;
}

.sema div { 
    max-width: 35rem;
    max-height: 35rem;
}

.sema img {
    width: 100%;
    height: 100%;
}

.apartmani-u-izgradnji div p {
    color: black;
    opacity: 0.8;
    font-weight: 500;
    font-size: 0.8rem;
}

.pregled-izgradnje {
    background-color: #c5b358;
    color: white;
    width: 5rem;
    padding:  0.5rem 1rem;
    font-weight: 500;
    margin: auto;
}

.non-full {
    display: none;
}

.full-img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.detaljnije {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.detalj-pozadina {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

.full-image-stan {
    margin: auto;
    padding-top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.close-button-stan {
    position: absolute;
    top: 0.3rem;
    right: 1.6rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }

  .zoom-out-apartmani {
    animation: zoomOutApart 3500ms ease forwards;
}

  .link {
    text-decoration: none;
  }


  @media only screen and (min-width: 500px){ 

    .apartmani-vrnjacka-banja, .prodaja-apartmana {
        display: none;
    }

    .vrnjacka-banja-apartmani, .elegant-apartmani-u-izgradnji {
        font-size: 1.5rem;
    }

    .kraljevski-apartman div { 
        max-width: 35rem;
    }
    
    .kraljevski-apartman img {
        width: 90%;
        max-height: 20rem;
    }
    
}

  @media only screen and (min-width: 620px){ 
        
    .apart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        }

    .apart2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .namesteni-apartmani h3, .opis div, .apartmani-u-izgradnji div p {
        font-size: 1rem;
    }


      }
    
      @media only screen and (min-width: 1200px){ 
        .apart {
            padding-top: 0;
            margin-top: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
    
            }
    
        .apart2 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

    }


  @keyframes zoomOutApart {
    0% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1); 
    }
}

  @keyframes introLoad {

    from {
        clip-path: polygon( 0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes moveDown {

    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }

  @keyframes moveArrow {

    from {
        transform: translateY(-1rem);
    }
    to {
        transform: translateY(0);
    }
  }