@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Montserrat&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&display=swap');


.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 4.5rem;
    background-color: #002244;
    z-index: 14;
    width: 100%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 0rem;
    font-size: 1rem;
}

.logo img {
   display: none;
}

.logo h2 {
    padding: 0.7rem;
    background-color: none;
    color: #c5b358;
    font-size: 1.7rem;
    font-family: "Lora", serif;
    font-weight: 400;
    text-align: left;
    line-height: 70%;
}

.logo a {
    text-decoration: none;
}

.draskovic {
    font-weight: bold;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Lora", serif;
}

.desctop-btn {
    display: none;
}

.desctop-menu {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    cursor: pointer;
}

.menu img {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    border: none;
    background-color: none;
    margin-left: 2rem;
    height: 1.1rem;
    width: auto;
}

.menu-btn {
    font-size: 1rem;
}


.menu-visible {
    display: block;
    position: fixed;
    right: 0;
    z-index: 3;
    height: 100vh;
    width: 60%;
    background-color: #1b1c1f;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.underlayer {
    display: block;
    position: fixed;
    right: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: #001f3f;
    transform: translateX(100%);
    transition: transform .2s ease-in-out;
    opacity: 0.3;
}

#menuVisible {
    transform: translateX(0);
}

#underlayerVidible {
    transform: translateX(0);
}

.profile-btn {
    height: 8rem;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
    display: block;
    margin-top: 2rem;
}

.under-profile {
    opacity: 0.5;
}
   
.profile-btn img {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    height: 0.8rem;
    width: auto;
}

.logIn {
    text-align: left;
    height: 3rem;
    width: 90%;
    background-color: #1b1c1f;
    color: hsl(0, 0%, 100%, 0.8);
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    margin-top: 1rem ;
    border: none;
    border-bottom: 1px solid #353030;
    cursor: pointer;
}

.logIn a {
    text-decoration: none;
    color: hsla(0, 13%, 83%, 0.8);
}

.close-path-h {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #747779;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.close-path-h img {
    margin-left: 0.5rem;
    height: 2rem;
    width: auto;
}

.search-btn-img {
    background-color: #c5b358;
    margin: 0;
    height: 2.2rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

@media only screen and (min-width: 500px){ 
    .menu {
        display: flex;
        align-items: center;
        padding-right: 1rem;
        cursor: pointer;
    }
    
    .menu img {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        cursor: pointer;
        border: none;
        background-color: none;
        margin-left: 3rem;
        height: 1.1rem;
        width: auto;
    }
}

@media only screen and (min-width: 600px){ 

    .header {
        height: 5rem;
    }

    .logo h2 {
        font-size: 2rem;
    }

    .draskovic {
        font-size: 1.2rem;
    }

    .menu img {
        margin-left: 4rem;
        height: 1.4rem;
    }

}

@media only screen and (min-width: 740px){ 

    .header {
        height: 6rem;
    }

    .logo h2 {
        font-size: 2.5rem;
    }

    .draskovic {
        font-size: 1.3rem;
    }

}

@media only screen and (min-width: 820px){

    .header {
        align-items: center;
    }

    .menu {
        display: none;
    }
    
    .logo img {
        height: auto;
        width: 16rem;
        margin-right: 0;
    }
    
    .search-btn, .search-button-img {
        display: flex;
    }
    
    #menuVisible {
        transform: translateX(100%);
    }
    
    #underlayerVidible {
        transform: translateX(100%);
    }

    .desctop-menu {
        display: contents;
        margin-right: 1rem;
    }

    .nav-menu, .nav-menu-stan {
        margin: auto 1rem;
        font-size: 1.2rem;
        font-family: "Open Sans", sans-serif;
        color: white;
        background-color: #002244;
        border: none;
        cursor: pointer;
    }

    .nav-menu-stan {
        background-color: #c5b358;
        color: white;
        padding: 0.5rem;
        font-weight: bold;
        border-radius: 0.5rem;
        animation: puls 2s linear infinite;
    }
    
}
