@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Montserrat&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&display=swap');

.apartmani {
    position: relative;
    width: auto;
    height: auto;
    background-color: white;
    text-align: center;
    padding-top: 4.5rem;
    margin: auto;
    overflow: hidden;
}

.okvir-slike {
    position: absolute;
    overflow: hidden;
    animation:  introLoad 3s forwards;
}

.slike {
    width: 30rem;
    height: 38rem;
}

.image-slider {
  width: 100%;
  height: 38rem;
}


.zoom-out {
    animation: zoomOut 3500ms ease forwards;
}

.prodaja-stanova {
    position: absolute;
    font-weight: bold;
    height: 38rem;
    width: 100%;
    text-align: center;
    background-color: hsl(210, 100%, 13%, 0.5);
    margin: auto;
    animation:  introLoad 4s forwards;
}

.prodaja-stanova p {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 1rem 0.2rem;
    margin-top: 26rem;
    background-color: hsl(210, 100%, 13%, 0.8);
    color: #ffff;
    font-family: "Open Sans", sans-serif;
}


.stanovi {
    margin: auto;
    width: 100%;
    background-color: #c5b358;
    color: white;
    border: none;
    height: 3rem;
    width: 8rem;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 100000;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    padding: 0.5rem;
    animation: puls 2s linear infinite;
    outline: none;
}

.zgrada-elegant {
    margin: auto 0;
    margin-top: 40rem;
    font-family: "Open Sans", sans-serif;
}

.zgrada-elegant p {
    text-align: left;
    font-size: 1.2rem;
    margin: auto 1rem;
    opacity: 0.8;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.lista {
    text-align: left;
    margin: 0 1rem;
    margin-left: 3rem;
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0;
    transform: translate3d(0, -30px, 0);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

#elegant-zgrada {
    margin-top: 1rem;
}

#elegant-zgrada p {
    padding-top: 0.5rem;
}

.dodatak {
    padding-bottom: 1rem;
}

ul li {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.6rem;
}

.bazen {
    width: 100%;
    margin: 0;
}

.bazen img {
    width: 100%;
    height: auto;
}

.map {
    position: relative;
    width: 80%; 
    padding-bottom: 56.25%; 
    height: 0;
    margin: auto;
    margin-bottom: 1rem;
  }
  
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%; 
    height: 100%; 
  }

.lokacija {
    margin-top: 2rem;
    text-align: left;
    margin-left: 0.5rem;
    font-weight: 500;
    opacity: 0.8;
}

  .galerija-slika {
    margin-top: 3rem;
    text-align: left;
    margin-left: 0.5rem;
    font-weight: 500;
    opacity: 0.8;
}

  .galerija {
    text-align: center;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    margin: 1rem 1rem;
  }

  .galerija div {
    max-width: 10rem;
    max-height: 10rem;
  }

  .galerija div img {
    margin: auto;
    height: 100%;
    width: 100%;
  }

  .animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  @media only screen and (min-width: 420px){  

    .galerija {
      margin: 1rem 2.5rem;
    }

  }
  @media only screen and (min-width: 500px){ 

    .slike {
      width: 45rem;
      height: 45rem;
  }

  .image-slider {
    width: 100%;
    height: 45rem;
  }

  .prodaja-stanova {
    height: 45rem;
}

.zgrada-elegant {
  margin-top: 48rem;
  text-decoration: none;
  margin-left: auto;
}

.lista { 
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.galerija-slika, .lokacija {
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}

.galerija {
  grid-template-columns: repeat(3, 1fr);
  margin: 1.5rem;
}

.galerija div {
  max-width: 20rem;
  max-height: 15rem;
}

  }

  @keyframes zoomOut {
    0% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1); 
    }
}

  @keyframes introLoad {

    from {
        clip-path: polygon( 0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes puls {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    }
    75% {
      box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
    }
  }
