

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  }

  .full-image-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .full-car-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }

  .full-image {
    margin: auto;
    height: 55rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    transition: opacity 0.5s ease;
    opacity: 1;
  }

  .close-button {
    position: absolute;
    top: 0rem;
    right: 1.6rem;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }

  .full-img-number { 
    position: absolute;
    top: 0.7rem;
    left: 1.6rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }



  @media only screen and (min-width: 820px){ 
    .full-image-slider {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem auto;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.8);
    }

    .full-image {
      margin: auto;
      height: 40rem;
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: contain;
      transition: opacity 0.5s ease;
      opacity: 1;
    }

    .next-arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-size: 24px;
      color: #333;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    }

    .prev-arrow {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 24px;
      color: #333;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    }
  }