@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Montserrat&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&display=swap');

.apartmani {
    position: relative;
    width: auto;
    height: auto;
    background-color: white;
    text-align: center;
    padding-top: 4.5rem;
    margin: auto;
    overflow: hidden;
}

.okvir-slike {
    position: absolute;
    overflow: hidden;
    animation:  introLoad 3s forwards;
}

.slike {
    width: 30rem;
    height: 38rem;
}

.image-slider {
  width: 100%;
  height: 38rem;
}


.zoom-out {
    animation: zoomOut 3500ms ease forwards;
}

.prodaja-stanova {
    position: absolute;
    font-weight: bold;
    height: 38rem;
    width: 100%;
    text-align: center;
    background-color: hsl(210, 100%, 13%, 0.5);
    margin: auto;
    animation:  introLoad 3s forwards;
}

.prodaja-stanova p {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 1rem 0.2rem;
    margin-top: 26rem;
    background-color: hsl(210, 100%, 13%, 0.8);
    color: #ffff;
    font-family: "Open Sans", sans-serif;
}


.stanovi {
    margin: auto;
    width: 100%;
    background-color: #c5b358;
    color: white;
    border: none;
    height: 3rem;
    width: 8rem;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 100000;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    padding: 0.5rem;
    animation: puls 2s linear infinite;
    outline: none;
}

.zgrada-elegant, .dsct-zgrada {
    margin: auto 0;
    margin-top: 40rem;
    font-family: "Open Sans", sans-serif;
}

.dsct-zgrada {
  display: none;
}

.zgrada-elegant p {
    text-align: left;
    font-size: 1.2rem;
    margin: auto 1rem;
    opacity: 0.8;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.lista {
    text-align: left;
    margin: 0 1rem;
    margin-left: 3rem;
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0;
}

#elegant-zgrada {
    margin-top: 40rem;
}

#elegant-zgrada p {
    padding-top: 0.5rem;
}

.dodatak {
    padding-bottom: 1rem;
}

ul li {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.6rem;
}

.bazen {
    width: 100%;
    margin: 0;
}

.bazen img {
    width: 100%;
    height: auto;
}

.opis-pocetna img {
  margin: auto;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.opis-pocetna div {
  text-align: left;
  margin: 1rem;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.slika1 {
  display: none;
}



.line-container {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #c5b358;
  font-weight: bold;
  font-family: "Lora", serif;
}

.line-container::before,
.line-container::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #c5b358; /* Adjust color and thickness */
  margin: 0 10px; /* Adjust space between the lines and the word */
}

.map {
    position: relative;
    width: 80%; 
    padding-bottom: 56.25%; 
    height: 0;
    margin: auto;
    margin-bottom: 1rem;
  }
  
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%; 
    height: 100%; 
  }

.lokacija {
    margin-top: 2rem;
    text-align: left;
    margin-left: 0.5rem;
    font-weight: 500;
    opacity: 0.8;
}

  .galerija-slika {
    margin-top: 3rem;
    text-align: left;
    margin-left: 1rem;
    font-size: 1.4rem;
    opacity: 0.8;
}

  .galerija {
    text-align: center;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    margin: 1rem 1rem;
  }

  .galerija div {
    max-width: 10rem;
    max-height: 10rem;
  }

  .galerija div img {
    margin: auto;
    height: 100%;
    width: 100%;
  }

  .animacija {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(30px);
  }
  
  .animate {
    opacity: 0.8;
    transform: translateY(0);
  }
  

  @media only screen and (min-width: 420px){  

    .galerija {
      margin: 1rem 2.5rem;
    }

  }
  @media only screen and (min-width: 500px){ 

    .slike {
      width: 45rem;
      height: 45rem;
  }

  .image-slider {
    width: 100%;
    height: 45rem;
  }

  .prodaja-stanova {
    height: 45rem;
}

.zgrada-elegant {
  margin-top: 48rem;
  text-decoration: none;
  margin-left: auto;
}

#elegant-zgrada {
  margin-top: 50rem;
}

.lista { 
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.galerija-slika, .lokacija {
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}

.galerija {
  grid-template-columns: repeat(3, 1fr);
  margin: 1.5rem;
}

.galerija div {
  max-width: 20rem;
  max-height: 10rem;
}

  }

  @media only screen and (min-width: 660px){ 
    .galerija div {
      max-width: 20rem;
      max-height: 15rem;
    }
  }

  @media only screen and (min-width: 740px){ 

    .slike {
      width: 50rem;
      height: 50rem;
  }

  .image-slider {
    height: 50rem;
  }

  .prodaja-stanova {
    height: 50rem;
}

  .zgrada-elegant {
    margin-top: 52rem;
  }

  #elegant-zgrada {
    margin-top: 52rem;
  }

    .galerija div {
      max-width: 20rem;
      max-height: 20rem;
    }
  }

  @media only screen and (min-width: 820px){ 

    .prodaja-stanova p, .stanovi {
      display: none;
    }


    .okvir-slike {
      position: absolute;
      overflow: hidden;
      animation:  introLoad 3s forwards;
      margin: auto;
      width: 100%;
      height: auto;
  }
  
  .slike {
      margin: auto;
      margin-left: 0;
      width: 60%;
      height: auto;
  }
  
  .image-slider {
    width: 100%;
    max-height: 40rem;
  }

  .prodaja-stanova {
    width: 60%;
    z-index: 11;
    height: 40.5rem;
  }

  .zgrada {
    display: none;
  }

  #elegant-zgrada {
    margin: auto;
    margin-top: 43rem;
    width: 100%;
}

  .dsct-zgrada {
    display: block;
    margin: auto;
    margin-top: 3rem;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    padding-left: 62%;
}

.uvod {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  opacity: 0.8;
}

.dsct-zgrada ul {
  text-align: left;
  font-family: "Open Sans", sans-serif;
}


.layer {
  position: absolute;
  background-color: hsl(210, 100%, 13%, 0.7);
  top: 29rem;
  left: 0;
  height: 16rem;
  width: 100%;
  padding-left: 1rem;
  color: white;
  font-weight: bold;
  z-index: 11;
  font-family: "Open Sans", sans-serif;
}

.layer div {
    position: absolute;
    font-family: "Open Sans", sans-serif;
  }

.adresa {
  line-height: 1rem;
  padding-top: 3rem;
  opacity: 0.8;
}

.adresa p {
  font-size: 1rem;
}

.ulica {
  display: flex;
  align-items: center;
  width: 100rem;
}

.ulica p {
  width: auto;
  padding-left: 1rem;
}

.ulica img {
  height: 1.5rem;
  width: auto;
}

.vb {
  padding-top: 2rem;
  padding-left: 2.2rem;
}

.kontakt {
  padding-left: 2.2rem;
  position: relative;
}

.broj {
  height: 1.2rem;
  width: auto;
  position: absolute;
  top: 7.6rem;
  left: -0.2rem;
}

.mail {
  height: 1rem;
  width: auto;
  position: absolute;
  top: 5.6rem;
  left: -0.2rem;
}

.lista {
  position: absolute;
  padding-top: 20.6em;
  font-size: 1.1rem;
  color: #ffffff;
  opacity: 1;
  z-index: 12;
}

.lista li {
  line-height: 2.5rem;
}

.adresa {
  font-size: 1.3rem;
  padding-top: 1rem;
}


.adresa h3 {
  margin-top: 1.8rem;
  margin-bottom: 0;
}

.direktna-prodaja {
  position: absolute;
  padding-top: 4rem;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  z-index: 12;
  left: 62%;
  color: #c5b358;
}

.dodatak {
  display: none;
}

.opis-pocetna {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: auto;
  margin-bottom: 3rem;
}

.text {
  text-align: left;
  max-width: 40rem;
}

.opis-pocetna img {
  margin: auto 1rem;
  max-width: 48%;
  height: auto;
}


.slika1 {
  display: block;
}

.slika2 {
  display: none;
}

.lokacija, .map {
  display: none;
}

.galerija-slika {
  text-align: center;
}

.line-container {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #c5b358;
  font-weight: bold;
  font-family: "Lora", serif;
}

.line-container::before,
.line-container::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #c5b358; /* Adjust color and thickness */
  margin: 0 10px; /* Adjust space between the lines and the word */
}
  }
@media only screen and (min-width: 1200px){ 
  
  .okvir-slike {
    position: absolute;
    overflow: hidden;
    animation:  introLoad 3s forwards;
    margin: auto;
    width: 100%;
    height: auto;
}

.slike {
    margin: auto;
    margin-left: 0;
    width: 50%;
    height: auto;
}

.image-slider {
  width: 100%;
  max-height: 50rem;
}

.prodaja-stanova {
  width: 50%;
  z-index: 11;
  height: 50.5rem;
}

.dsct-zgrada {
  display: block;
  margin: auto;
  margin-top: 3rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  padding-left: 60%;
}

.uvod {
  font-size: 1.3rem;
}

.lista {
  position: absolute;
  padding-top: 25rem;
  font-size: 1.3rem;
  color: #ffffff;
  opacity: 1;
}

.lista li {
  line-height: 3rem;
}

.adresa {
  font-size: 1.3rem;
  padding-top: 3rem;
}
  
.direktna-prodaja {
  padding-top: 2rem;
  line-height: 4rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  z-index: 1;
  left: 60%;
  color: #c5b358;
}

.dsct-zgrada ul {
  font-size: 1.5rem;
}

#elegant-zgrada {
  margin-top: 53rem;
}

.layer { 
  height: 26rem;
}

.opis-pocetna div { 
  font-size: 1.5rem;
}

.line-container {
  font-size: 3rem;
  margin-bottom: 4ch;
  color: #c5b358;
  font-weight: bold;
  font-family: "Lora", serif;
}

.line-container::before,
.line-container::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid #c5b358; /* Adjust color and thickness */
  margin: 0 10px; /* Adjust space between the lines and the word */
}

.galerija {
  grid-template-columns: repeat(4, 1fr); 
  row-gap: 1rem;
  column-gap: 1rem;
}

}

  @keyframes zoomOut {
    0% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1); 
    }
}

  @keyframes introLoad {

    from {
        clip-path: polygon( 0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 100%);
    }
    
  }

  @keyframes puls {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    }
    75% {
      box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
    }
  }

  @keyframes moveUp {

    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }
