

.apartmani {
    position: relative;
    width: auto;
    height: auto;
    background-color: white;
    text-align: center;
    padding-top: 4.5rem;
}

.slike {
    max-width: 40rem;
    max-height: 100%;
}

.image-slider {
    height: 30rem;
    max-width: 30rem;
}

.prodaja-stanova {
    position: absolute;
    font-weight: bold;
    top: 21rem;
    width: 90%;
    text-align: center;
    margin: auto 1rem;
}

.prodaja-stanova p {
    text-align: left;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
    background-color: hsl(210, 100%, 13%, 0.8);
    color: #ffff;
    opacity: 0.8;
}


.stanovi {
    position: relative;
    background-color: #c5b358;
    color: white;
    border: none;
    height: 3rem;
    width: 8rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
}

.zgrada-elegant {
    margin: auto 0;
    padding-top: 0.5rem;
}

.zgrada-elegant p {
    text-align: left;
    font-size: 1.2rem;
    margin: auto 1rem;
    opacity: 0.8;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.zgrada-elegant ul {
    text-align: left;
    margin: 0 1rem;
    margin-left: 0;
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0.9;
}

.dodatak {
    padding-bottom: 1rem;
}

ul li {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.6rem;
}

.bazen {
    width: 100%;
    margin: auto 0;
}

.bazen img {
    width: 100%;
    height: auto;
}

.map {
    position: relative;
    width: 80%; 
    padding-bottom: 56.25%; 
    height: 0;
    margin: auto;
    margin-bottom: 1rem;
  }
  
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%; 
    height: 100%; 
  }
  .galerija-slika, .lokacija {
    text-align: left;
    margin-left: 0.5rem;
    font-weight: 500;
    opacity: 0.8;
}

  .galerija {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    margin: 1rem 0.5rem;
  }

  .galerija div {
    max-width: 35rem;
    max-height: 35rem;
  }

  .galerija div img {
    margin: auto;
    height: 100%;
    width: 100%;
  }
